<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 mt-5 col-12">
            <div class="tab-section box-content">
                <div class="tabpill-title">
                    <h6>setting</h6>
                </div>
                <div class="tab-coman-class d-flex">
                    <div class="nav flex-column nav-pills col-xl-2 col-lg-3 col-md-3 col-12" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">my account</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">members</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">workspace</a>
                        <a class="nav-link" id="v-pills-team-tab" data-toggle="pill" href="#v-pills-team" role="tab" aria-controls="v-pills-team" aria-selected="false">Teams</a>
                        
                    </div>
                      <div class="tab-content col-xl-10 col-lg-9 col-md-9 col-12" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="tab-one-main-section">
                                <div class="tab-one-title d-none">
                                    <h6>photo</h6>
                                </div>
                                <div class="tab-pic">
                                    <img src="assets/images/40306.jpg" class="img-fluid rounded-circle">
                                </div>

                                <div class="tab-form-section">
                                    <form>
                                        <div class="form-group">
                                          <label for="exampleInputEmail">Email</label>
                                          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="email_adress@gmail.com">
                                          
                                        </div>
                                        <div class="form-group">
                                          <label for="exampleInputFirstName">Name</label>
                                          <input type="text" class="form-control" id="exampleInputFirstName" placeholder="john doe">
                                        </div>
                                        
                                        <div class="tab-btn">
                                            <a href="#" class="btn btn-group-lg btn-primary">Update</a>
                                        </div>
                                      </form>
                                </div>
                            </div>                        
                        </div>

                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="tab-Two-main-section">
                                <div class="tab-two-top-section">
                                    <div class="tab-two-btn">
                                        <a href="#" class="btn btn-group-lg btn-primary" data-toggle="modal" data-target="#myModal">Add Member</a>
                                    </div>
                                    <div class="tab-two-btn-content">
                                        <!-- The Modal -->
                                        <div class="modal fade" id="myModal">
                                            <div class="modal-dialog modal-md">
                                            <div class="modal-content">
                                            
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                <h4 class="modal-title">Add New Member</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                
                                                <!-- Modal body -->
                                                <div class="modal-body modal-my-content">
                                                   <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="upload-pic">
                                                            <div class="upload-image-section">
                                                                <img src="assets/images/40306.jpg" class="img-fluid rounded-circle">
                                                            </div>                                                        
                                                        </div>
                                                       </div>
                                                       
                                                       <div class="col-md-7">
                                                        <form>
                                                            <div class="form-group">
                                                              <label for="exampleFormControlFile1">Upload photo</label>
                                                              <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                                            </div>
                                                          </form>
                                                       </div>
                                                   </div>
                                                    <div class="member-form-section">
                                                        <form>                                                           
                                                            <form>
                                                                <div class="form-group">
                                                                  <label for="exampleInputEmail1">First Name</label>
                                                                  <input type="text" class="form-control" id="#" aria-describedby="emailHelp" placeholder="">                                                                  
                                                                </div>

                                                                <div class="form-group">
                                                                  <label for="exampleInputPassword1">Last Name</label>
                                                                  <input type="text" class="form-control" id="#" placeholder="">
                                                                </div> 
                                                                
                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">Contact Number </label>
                                                                    <input type="number" class="form-control" id="#" placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">Team</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                      <option>Select</option>
                                                                      <option>1</option>
                                                                      <option>2</option>
                                                                      <option>3</option>
                                                                      <option>4</option>
                                                                      <option>5</option>
                                                                    </select>
                                                                  </div> 
                                                                  <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">Roles</label>
                                                                    <select class="form-control" id="exampleFormControlSelect1">
                                                                      <option>Select</option>
                                                                      <option>1</option>
                                                                      <option>2</option>
                                                                      <option>3</option>
                                                                      <option>4</option>
                                                                      <option>5</option>
                                                                    </select>
                                                                  </div>  
                                                                  <div class="form-group">
                                                                    <label class="rememberme mt-checkbox mt-checkbox-outline mb-0"> <input type="checkbox" name="remember" value="1"> <span></span>&nbsp;</label> Is Active
                                                                  </div>                                                              
                                                              </form>  
                                                          </form>
                                                    </div>
                                                </div>
                                                
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-primary col-xl-6" data-dismiss="modal">Save</button>
                                                <button type="button" class="btn btn-danger col-xl-6" data-dismiss="modal">Close</button>
                                                </div>
                                                
                                            </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-search">
                                        <div id="custom-search-input">
                                            <div class="input-group col-md-11 col-lg-9 col-11">
                                                <input type="text" class="  search-query form-control" placeholder="Search">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger" type="button">
                                                        <span class=" fa fa-search"></span>
                                                    </button>
                                                </span>                                                   
                                            </div>
                                           </div>
                                    </div>
                                </div>
                                <div class="tab-two-nav">
                                    <ul id="userList">
                                        <li><a href="#">
                                            <div class="tab-ul-sec-two-main">
                                                <div class="tab-profile tab-pic">
                                                    <img src="assets/images/40306.jpg" class="img-fluid rounded-circle">
                                                </div>
                                                 <div class="text-content">
                                                     <h6>john doe</h6>
                                                 </div>     
                                            </div>
                                        </a></li>
                                        
                                        <li  rv-each-item="items"><a href="#">
                                            <div class="tab-ul-sec-two-main">
                                                <div class="tab-profile tab-pic">
                                                    <img rv-src="item.Photo"  class="img-fluid rounded-circle">
                                                </div>
                                                 <div class="text-content">
                                                     <h6>{item.FirstName}</h6>
                                                 </div>     
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="tab-one-main-section">
                                <div class="tab-one-title d-none">
                                    <h6>photo</h6>
                                </div>
                                

                                <div class="tab-form-section">
                                    <form>
                                        <div class="form-group">
                                          <label for="exampleInputEmail1">Name</label>
                                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Workspace Name">
                                          
                                        </div>
                                        <label class="lab-text">Domain:</label>
                                        <div class="form-group form-inline inline-text">
                                          <label for="exampleInputPassword1">www.webaddress@</label>
                                          <input type="email" class="form-control" id="exampleInputPassword1" placeholder="">
                                        </div>
                                        
                                        <div class="tab-btn">
                                            <a href="#" class="btn btn-group-lg btn-primary">Update</a>
                                        </div>
                                      </form>
                                </div>
                            </div>
                        </div>
                        


                        <div class="tab-pane fade" id="v-pills-team" role="tabpanel" aria-labelledby="v-pills-team-tab">
                            <div class="tab-Two-main-section">
                                <div class="tab-two-top-section">
                                    <div class="tab-two-btn">
                                        <a href="#" class="btn btn-group-lg btn-primary" data-toggle="modal" data-target="#myModals">Add Teams</a>
                                    </div>
                                    <div class="tab-two-btn-content">
                                        <!-- The Modal -->
                                        <div class="modal fade" id="myModals">
                                            <div class="modal-dialog modal-md">
                                            <div class="modal-content">
                                            
                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                <h4 class="modal-title">Add Teams</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                
                                                <!-- Modal body -->
                                                <div class="modal-body modal-my-content">
                                                    <!-- <div class="upload-pic">
                                                        <div class="upload-image-section">
                                                            <img src="assets/images/40306.jpg" class="img-fluid rounded-circle">
                                                        </div>
                                                        <div class="upload-text">
                                                            <h6>Upload Photo</h6>
                                                        </div>
                                                    </div> -->
                                                    <div class="member-form-section">
                                                        <form>                                                           
                                                            
                                                            <div class="form-group">
                                                              <label for="exampleInputEmail1">Team Name</label>
                                                              <input type="text" class="form-control" id="#" aria-describedby="emailHelp" placeholder="">                                                                  
                                                            </div>

                                                              <div class="form-group">
                                                                <label class="rememberme mt-checkbox mt-checkbox-outline mb-0"> <input type="checkbox" name="remember" value="1"> <span></span>&nbsp;</label> Is Active
                                                              </div>                                                              
                                                          </form>
                                                    </div>
                                                </div>
                                                
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-primary col-xl-6" data-dismiss="modal">Add</button>
                                                <button type="button" class="btn btn-danger col-xl-6" data-dismiss="modal">Close</button>
                                                </div>
                                                
                                            </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-search">
                                        <div id="custom-search-input">
                                            <div class="input-group col-md-11 col-lg-9 col-11">
                                                <input type="text" class="  search-query form-control" placeholder="Search">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger" type="button">
                                                        <span class=" fa fa-search"></span>
                                                    </button>
                                                </span>                                                   
                                            </div>
                                           </div>
                                    </div>
                                </div>
                                <div class="tab-two-nav">
                                    <ul>
                                        <li><a href="#">
                                            <div class="tab-ul-sec-two-main">
                                                <div class="tab-profile tab-pic">
                                                    <img src="assets/images/40306.jpg" class="img-fluid rounded-circle">
                                                </div>
                                                 <div class="text-content">
                                                     <h6>john doe</h6>
                                                 </div>     
                                            </div>
                                        </a></li>
                                        
                                        <li><a href="#">
                                            <div class="tab-ul-sec-two-main">
                                                <div class="tab-profile tab-pic">
                                                    <img src="assets/images/40306.jpg" class="img-fluid rounded-circle">
                                                </div>
                                                 <div class="text-content">
                                                     <h6>john doe</h6>
                                                 </div>     
                                            </div>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../src/components/setting/setting.js"></script>
<script src="../node_modules/tinybind/dist/tinybind.js"></script>