<div class="container-fluid h-100" id="mainsettingpage">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-xl-8 col-lg-9 col-md-12 mt-5 col-12">
            <div class="tab-section box-content">
                <div class="tabpill-title">
                    <h6>setting</h6>
                </div>
                <div class="tab-coman-class d-flex">
                    <div class="nav flex-column nav-pills col-xl-2 col-sm-3 col-lg-3 col-md-3 col-12" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">my account</a>
                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">members</a>
                        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">workspace</a>
                        <a class="nav-link" id="v-pills-team-tab" data-toggle="pill" href="#v-pills-team" role="tab" aria-controls="v-pills-team" aria-selected="false">Teams</a>
                        <a class="nav-link" id="v-pills-database-tab" data-toggle="pill" href="#v-pills-database" role="tab" aria-controls="v-pills-database" aria-selected="false">Databases</a>

                    </div>
                    <div class="tab-content col-xl-10 col-sm-9 col-lg-9 col-md-9 col-12" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="tab-one-main-section">
                                <div class="tab-one-title d-none">
                                    <h6>photo</h6>
                                </div>
                                <div class="tab-pic">
                                    <img src="assets/images/40306.jpg" id="userImage" class="img-fluid rounded-circle">
                                </div>

                                <div class="tab-form-section">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail">Email</label>
                                            <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="email_adress@gmail.com">

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputFirstName">Name</label>
                                            <input type="text" class="form-control" id="exampleInputFirstName" placeholder="john doe">
                                        </div>

                                        <div class="tab-btn">
                                            <a class="btn btn-group-lg btn-primary" id="updatebtn" style="cursor: pointer;color: white;">Update</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="tab-Two-main-section">
                                <div class="tab-two-top-section">
                                    <div class="tab-two-btn">
                                        <button class="btn btn-group-lg btn-primary" id="addnewmember" data-toggle="modal" data-target="#userModal">Add Member</button>
                                    </div>
                                    <div class="tab-two-btn-content">
                                        <!-- The Modal -->
                                        <div class="modal fade" tabindex="-1" aria-labelledby="userModal" aria-hidden="true" id="userModal" role="dialog">
                                            <div class="modal-dialog modal-md">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Add New Member</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body modal-my-content">
                                                        <form id="addMemberForm" method="post">
                                                            <div class="row">

                                                                <div class="col-md-3">
                                                                    <div class="upload-pic">
                                                                        <div class="upload-image-section">
                                                                            <input id="hdnUserId" type="hidden">
                                                                            <img src="assets/images/40306.jpg" id="addUserImage" class="img-fluid rounded-circle">
                                                                            <label id="fileError" class="error"></label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <div class="form-group">
                                                                        <label for="exampleFormControlFile1">Upload
                                                                            photo</label>
                                                                        <input type="file" class="form-control-file" name="uploadPhoto" id="uploadPhoto" onchange="encodeImageFileAsURL(this)" accept="image/x-png,image/gif,image/jpeg">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="member-form-section">
                                                                <div class="form-group">
                                                                    <label for="exampleInputEmail1">First Name</label>
                                                                    <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="emailHelp" placeholder="">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">Last Name</label>
                                                                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">Email</label>
                                                                    <input type="email" class="form-control" id="emailId" name="emailId" placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">Domain</label>
                                                                    <input type="text" class="form-control" id="domain" name="domain" placeholder="">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleInputPassword1">Salck ID</label>
                                                                    <input type="text" class="form-control" id="slackId" name="slackId" placeholder="">
                                                                </div>
                                                                <div class="form-group" style="display: none;">
                                                                    <label for="exampleFormControlSelect1">Team</label>
                                                                    <select class="form-control" id="ddlTeams" name="teamId">
                                                                        <option value="">Select</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">Role</label>
                                                                    <select class="form-control" id="ddlRoles" name="roleId">
                                                                        <option value="">Select</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="rememberme mt-checkbox mt-checkbox-outline mb-0">
                                                                        <input type="checkbox" name="remember"
                                                                            id="isActive" value="1">
                                                                        <span></span>&nbsp;</label> Is Active
                                                                </div>

                                                            </div>
                                                        </form>
                                                    </div>

                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" id="btnAddMember" class="btn btn-primary col-xl-6">Save</button>
                                                        <button type="button" class="btn btn-danger col-xl-6" data-dismiss="modal">Close</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-search">
                                        <div id="custom-search-input">
                                            <div class="input-group col-md-11 col-lg-9 col-11">
                                                <input type="text" class="  search-query form-control" placeholder="Search" id="seaechmember">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger" type="button">
                                                        <span class=" fa fa-search"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-two-nav">
                                    <ul id="userList">
                                        <li rv-each-item="items">
                                            <div class="col-md-12 pt-2">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <div class="tab-profile tab-pic">
                                                            <img rv-src="item.Photo" class="img-fluid rounded-circle">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7">
                                                        <h6>{item.FirstName}</h6>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a href="javascript:void(0)" rv-data-category-id=item.UserId class="btn-add-member-action btn-primary" id="addmember" data-toggle="modal" data-target="#userModal" onclick="editUser(this)">Edit</a>
                                                        <a href="javascript:void(0)" rv-data-category-id=item.UserId class="btn-add-member-action btn-primary" onclick="deleteUserClick(this)">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- <ul id="userList">
                                        <li rv-each-item="items">
                                            <a href="#" class="d-flex">
                                                <div class="tab-ul-sec-two-main">
                                                    <div class="tab-profile tab-pic">
                                                        <img rv-src="item.Photo" class="img-fluid rounded-circle">
                                                    </div>
                                                    <div class="text-content">
                                                        <h6>{item.FirstName}</h6>
                                                    </div>
                                                    <a href="#" data-id={item.UserId}
                                                        class="btn-add-member-action btn-primary">Edit</a>
                                                    <a href="#" data-id={item.UserId}
                                                        class="btn-add-member-action btn-primary">Delete</a>
                                                </div>
                                            </a></li>                                            
                                    </ul> -->
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                            <div class="tab-one-main-section">
                                <div class="tab-one-title d-none">
                                    <h6>photo</h6>
                                </div>


                                <div class="tab-form-section">
                                    <form>
                                        <div class="form-group">
                                            <label for="workspacename">Name</label>
                                            <input type="text" class="form-control" id="workspacename" aria-describedby="emailHelp" placeholder="Workspace Name">

                                        </div>
                                        <label class="lab-text">Domain:</label>
                                        <div class="form-group form-inline inline-text">
                                            <label for="workspacedomain">www.webaddress@</label>
                                            <input type="email" class="form-control" id="workspacedomain" placeholder="">
                                        </div>

                                        <div class="tab-btn">
                                            <a class="btn btn-group-lg btn-primary" id="btnworkspace" style="cursor: pointer;color: white;">Update</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-team" role="tabpanel" aria-labelledby="v-pills-team-tab">
                            <div class="tab-Two-main-section">
                                <div class="tab-two-top-section">
                                    <div class="tab-two-btn">
                                        <button href="#" class="btn btn-group-lg btn-primary" id="addteams" data-toggle="modal" data-target="#TeamsModals" onclick="AddTeams(this)">Add Teams</button>
                                    </div>
                                    <div class="tab-two-btn-content">
                                        <!-- The Modal -->
                                        <div class="modal fade" id="TeamsModals" tabindex="-1" role="dialog" aria-labelledby="TeamsModals" aria-hidden="true">

                                            <div class="modal-dialog modal-md">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Add Teams</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body modal-my-content">
                                                        <!-- <div class="upload-pic">
                                                    <div class="upload-image-section">
                                                        <img src="assets/images/40306.jpg" class="img-fluid rounded-circle">
                                                    </div>
                                                    <div class="upload-text">
                                                        <h6>Upload Photo</h6>
                                                    </div>
                                                </div> -->
                                                        <div class="member-form-section">
                                                            <form id="addTeamsForm" method="post">

                                                                <div class="form-group">
                                                                    <label for="exampleInputEmail1">Team Name</label>
                                                                    <input type="text" class="form-control" id="Teamname" name="Teamname" aria-describedby="emailHelp" placeholder="Team Name">
                                                                    <input type="hidden" id="TeamID" name="TeamID" value="0">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="rememberme mt-checkbox mt-checkbox-outline mb-0">
                                                                        <input type="checkbox" name="remember"
                                                                            id="TeamsIsActive" value="1">
                                                                        <span></span>&nbsp;</label> Is Active
                                                                </div>

                                                                <!----Dropdown--->

                                                                <div class="form-group">
                                                                    <label for="exampleFormControlSelect1">User
                                                                        select</label>
                                                                    <select class="form-control SlectBox" multiple id="TeamsUserSelect">
                                                                        <option>1</option>
                                                                        <option>2</option>
                                                                        <option>3</option>
                                                                        <option>4</option>
                                                                        <option>5</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="TeamDescription">Description</label>
                                                                    <input type="text" class="form-control" id="TeamDescription" aria-describedby="emailHelp" placeholder="Description">
                                                                </div>

                                                            </form>

                                                        </div>
                                                    </div>

                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary col-xl-6" id="IdAddteams">Add</button>
                                                        <button type="button" class="btn btn-danger col-xl-6" data-dismiss="modal">Close</button>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-search">
                                        <div id="custom-search-input">
                                            <div class="input-group col-md-11 col-lg-9 col-11">
                                                <input type="text" class="  search-query form-control" placeholder="Search" id="searchteam">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger" type="button">
                                                        <span class=" fa fa-search"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-two-nav">
                                    <ul id="TeamList">
                                        <!-- <li rv-each-item="items">
                                            <div class="col-md-12 pt-2">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <h6>{item.TeamName}</h6>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h6>{item.IsActiveStatus}</h6>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a rv-data-category-TeamId=item.TeamId
                                                            class="btn-add-member-action btn-primary" id="EditTeams"
                                                            onclick="EditTeams(this)">Edit</a>
                                                            <a href="javascript:void(0)" rv-data-category-TeamId=item.TeamId
                                                            class="btn-add-member-action btn-primary"
                                                            onclick="deleteTeamsClick(this)">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="v-pills-database" role="tabpanel" aria-labelledby="v-pills-database-tab">
                            <div class="tab-Two-main-section">
                                <div class="tab-two-top-section">
                                    <div class="tab-two-btn">
                                        <button href="#" class="btn btn-group-lg btn-primary" id="addDatabase" data-toggle="modal" data-target="#DatabaseModals">Add Database</button>
                                    </div>
                                    <div class="tab-two-btn-content">
                                        <!-- The Modal -->
                                        <div class="modal fade" id="DatabaseModals" tabindex="-1" role="dialog" aria-labelledby="DatabaseModals" aria-hidden="true">

                                            <div class="modal-dialog modal-md">
                                                <div class="modal-content">
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Add Database</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <!-- Modal body -->
                                                    <div class="modal-body modal-my-content">
                                                        <div class="member-form-section">
                                                            <form id="addDatabaseForm" method="post">
                                                                <div class="form-group">
                                                                    <label for="ConfigName">Configuration name</label>
                                                                    <input type="text" class="form-control" id="txtConfigName" name="ConfigName" placeholder="Configuration Name">
                                                                    <input type="hidden" id="DatabaseID" name="DatabaseID">
                                                                </div>
                                                                <!----Dropdown--->
                                                                <div class="form-group">
                                                                    <label for="ddlDatasourceType">Datasource Type</label>
                                                                    <select class="form-control" name="ddlDatasourceType" id="ddlDatasourceType">                                                                        
                                                                    </select>
                                                                </div>
                                                                <div id="dbBlock" style="display: none;">
                                                                    <div class="form-group">
                                                                        <label for="txtHost">Host/Server</label>
                                                                        <input type="text" class="form-control" id="txtHost" name="txtHost" aria-describedby="emailHelp" placeholder="Host/Server">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="txtPort">Port</label>
                                                                        <input type="text" class="form-control" id="txtPort" name="txtPort" aria-describedby="emailHelp" placeholder="Port">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="txtUser">User</label>
                                                                        <input type="text" class="form-control" id="txtUser" name="txtUser" aria-describedby="emailHelp" placeholder="User">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="txtPassword">Password</label>
                                                                        <input type="password" class="form-control" id="txtPassword" name="txtPassword" aria-describedby="emailHelp" placeholder="Password">
                                                                    </div>
                                                                    <div class="form-group" style="text-align: right;">
                                                                        <button type="button" class="btn btn-group-lg btn-primary" id="btnTestDBConnection">Load database</button>
                                                                    </div>

                                                                    <!----Dropdown--->
                                                                    <div class="form-group">
                                                                        <label for="ddlDatabaseList">Database</label>
                                                                        <select class="form-control" id="ddlDatabaseList" name="ddlDatabaseList"> 
                                                                           <option value="">select</option>                                                                          
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" id="fileBlock" style="display: none;">
                                                                    <label for="Location">Location</label>
                                                                    <input type="text" class="form-control" id="txtLocation" name="Location" placeholder="Location">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="rememberme mt-checkbox mt-checkbox-outline mb-0">
                                                                        <input type="checkbox" name="remember"
                                                                            id="DatabaseIsActive" value="1" checked="checked">
                                                                        <span></span>&nbsp;</label> Is Active
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary col-xl-6" id="btnSaveDBConfig">Add</button>
                                                        <button type="button" class="btn btn-danger col-xl-6" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-search">
                                        <div id="custom-search-input">
                                            <div class="input-group col-md-11 col-lg-9 col-11">
                                                <input type="text" class="  search-query form-control" placeholder="Search" id="searchDatabase">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger" type="button">
                                                        <span class=" fa fa-search"></span>
                                                </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-two-nav">
                                    <ul id="databaseList">
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-lg-9 col-md-12 mt-5 col-12">
            <input type="button" value="Refresh Slack Auth" id="btnSlack" class="btn btn-primary btn-group-lg hide" />
        </div>
    </div>
</div>
<script src="../src/components/setting/setting.js"></script>
<script src="../node_modules/tinybind/dist/tinybind.js"></script>
<script src="assets/js/jquery-confirm.min.js"></script>
<script src="../src/components/explore/explore.js"></script>
<script src="../src/components/setting/slackAuthentication.js"></script>