<!-- <div class="container-fluid">
    <div class="row">

        <div class="col-xl-2 col-lg-2 col-md-2"> -->
            <!-- <div class="collapse-btn-hide">
                <button type="button" id="demo-one" class="btn">
                    <i class="fas fa-align-justify text-white"></i>
                </button>
            </div> -->

            <!-- <div class="main-sidebar collapse" id="main-side">
                <div class="sidenav">
                    <div class="search-main">
                        <form>
                            <input type="text" name="search" placeholder="Search..">
                            <i class="fas fa-search"></i>
                        </form>
                    </div>
                    <a href="#"> <i class="fas fa-circle co-org"></i> Tablequ</a>
                    <a href="#"> <i class="fas fa-circle co-pink"></i> SQL</a>
                    <a href="#"> <i class="fas fa-circle co-blue"></i> Excel</a>
                    <a href="#"> <i class="fas fa-circle co-green"></i> Power BI</a>
                    <a href="#"> <i class="fas fa-circle col-yellow"></i> Partner UI</a>
                </div>
            </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-12 col-md-10  pl-0 pr-0 mt-5 responsive-section">
            <div class="coman-drop-down d-flex mx-auto justify-content-center">
                <div class="col-xl-2 col-12 col-sm-3 col-md-3 col-lg-3 mr-auto p-0">
                    <div class="main-explore-section">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Filter</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div> -->


                <!---DropDown-Two-->
                <!-- <div class="col-xl-2 col-12 col-sm-3 col-md-3 col-lg-3 ml-auto p-0">
                    <div class="main-explore-section">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Breakdown</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="form-section  mb-5">
                <div class="row">
                   <div class="filter-scratch-section">
                        <div class="col-xl-8 mx-auto">
                            <form  id="addFilterScratchForm" method="post">
                            <div class="main-filter-scratch-section box-content p-4">
                                <div class="filter-scratch-title">
                                    <h5>Alert-scratch..display_data</h5>
                                </div>
                                <div class="filter-scratch-form">
                                    <div class="form-inline" >
                                        <div class="form-group">
                                            <label for="sel1">Schedule</label>
                                            <select class="form-control" id="everylist" name="everylist">
                                              <option value="0">Every</option>
                                              <option>2</option>
                                              <option>3</option>
                                              <option>4</option>
                                            </select>
                                            <select class="form-control" id="weeklist" name="weeklist">
                                                <option value="0">1 Week</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                              </select>
                                              <select class="form-control" id="starting" name="starting">
                                                <option value="0">Starting</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                              </select>
                                          </div>
                                        </div>
                                </div>
                                <div class="filter-scratch-check-box">
                                    <div class="form-inline">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                               Email Notification
                                              <input type="radio" class="form-check-input" name="notificationOptRadio" checked value="Email">
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                               Slack Notification
                                              <input type="radio" class="form-check-input" name="notificationOptRadio" value="Slack">
                                            </label>
                                          </div>
                                        </div>
                                </div>
                                <div class="filter-scratch-text-box">
                                        <div class="form-group">
                                            <label class="float-left" for="email">Recipients</label>
                                            <input type="text" class="form-control form-ip-one col-sm-6 col-md-7 col-lg-7 col-xl-7" id="recipients" name="recipients">
                                          </div>
                                          <div class="form-group">
                                            <label class="float-left" for="pwd">EmailBody</label>
                                            <input type="text" class="form-control form-ip-Two col-sm-6 col-md-7 col-lg-7 col-xl-7" id="emailBody" name="emailBody">
                                          </div>
                                          <div class="form-group form-check form-check-filter">
                                            <label class="form-check-label">
                                              <input class="form-check-input " type="checkbox" name="isIncludeData" id="isIncludeData"> Include Data
                                            </label>
                                          </div>
                                </div>
                                <div class="range-sldier-scratch">
                                    <div class="range-title">
                                        <p>Timeframe</p>
                                    </div>
                                    <div class="slidecontainer">
                                         -->
                                         <!-- <input type="range" min="1" max="100" value="50">  -->
                                         <!-- <input type="text" class="js-range-slider" name="my_range"  />
                                         <input type="hidden" class="js-input-from" value="0" id="tFrom" />
                                         <input type="hidden" class="js-input-to" value="0" id="tTo" />
                                      </div>


                                </div>
                                <div class="filter-scratch-footer">
                                    <div class="filter-footer-left">
                                        <h6>Alert will send if:</h6>
                                    </div>
                                    <div class="filter-footer-right">
                                        <h6>Today</h6>
                                    </div>
                                </div>
                                <div class="filter-scratch-footer-bootom">
                                    <p>on 20th dec excel doesn't contain bookings data for order_data = 18th dec or any order_data since 11th dec.</p>
                                </div>
                                <div class="filter-btn-scratch"> -->
                                    <!-- <a route-link route-href="filterWeekly" class="btn btn-group-lg">save</a> -->
                                    <!-- <button type="button" href="#" id="btnFilterScratch"class="btn btn-group-lg">save</button>
                                </div>
                            </div>
                            </form>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- The Modal -->
<div class="modal fade bd-example-modal-lg" id="modeFitlerScratch">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Alert-scratch..display_data</h5>
                <!-- data-dismiss="modal" -->
                <button type="button" class="close" id="btnBackFilterResult" >&times;</button>
            </div>
            <div class="row">
                         <form  id="addFilterScratchForm" method="post">
                         <div class="main-filter-scratch-section  p-4">
                             <div class="filter-scratch-title">
                                 <!-- <h5>Alert-scratch..display_data</h5> -->
                             </div>
                             <div class="filter-scratch-form">
                                 <div class="form-inline" >
                                     <div class="form-group">
                                         <label for="sel1">Schedule</label>
                                         <select class="form-control" id="everylist" name="everylist">
                                           <option value="1" selected>Daily</option>
                                           <option value="2">Weekly</option>
                                           <option value="3">Monthly</option>
                                         </select>
                                         <div id="daliyList"> 
                                        </div> 
                                         <!-- <select class="form-control" id="weeklist" name="weeklist">
                                             <option value="0">1 Week</option>
                                             <option>2</option>
                                             <option>3</option>
                                             <option>4</option>
                                           </select> -->
                                           <div id="startingList">
                                            </div>
                                           <!-- <select class="form-control" id="starting" name="starting">
                                             <option value="0">Starting at</option>
                                             <option>2</option>
                                             <option>3</option>
                                             <option>4</option>
                                           </select> -->
                                       </div>
                                     </div>
                             </div>
                             <div class="filter-scratch-check-box">
                                 <div class="form-inline">
                                     <div class="form-check">
                                         <label class="form-check-label">
                                            Email Notification
                                           <input type="radio" class="form-check-input notificationRadio" name="notificationOptRadio" checked value="Email">
                                         </label>
                                       </div>
                                       <div class="form-check">
                                         <label class="form-check-label">
                                            Slack Notification
                                           <input type="radio" class="form-check-input notificationRadio" name="notificationOptRadio" value="Slack">
                                         </label>
                                       </div>
                                     </div>
                             </div>
                             <div class="filter-scratch-text-box">
                                 <div id="radioSelectedTxtView">
                                    <!-- <div class="form-group">
                                        <label class="float-left" for="emailTitle">Email Title</label>
                                        <input type="text" class="form-control form-ip-one col-sm-6 col-md-7 col-lg-7 col-xl-7" id="emailTitle" name="emailTitle">
                                    </div>
                                    <div class="form-group">
                                        <label class="float-left" for="email">Recipients</label>
                                        <input type="text" class="form-control form-ip-one col-sm-6 col-md-7 col-lg-7 col-xl-7" id="recipients" name="recipients">
                                    </div>
                                    <div class="form-group">
                                        <label class="float-left" for="pwd">EmailBody</label>
                                        <input type="text" class="form-control form-ip-Two col-sm-6 col-md-7 col-lg-7 col-xl-7" id="emailBody" name="emailBody">
                                    </div> -->
                                    
                                 </div>
                                <div class="form-group form-check form-check-filter">
                                    <label class="form-check-label">
                                        <input class="form-check-input " type="checkbox" name="isIncludeData" id="isIncludeData"> Include Data
                                    </label>
                                </div>
                             </div>
                             <div class="range-sldier-scratch">
                                 <div class="range-title">
                                     <p>Timeframe</p>
                                 </div>
                                 <div class="slidecontainer">

                                      <!-- <input type="range" min="1" max="100" value="50">  -->
                                      <input type="text" class="js-range-slider" name="my_range"  />
                                      <input type="hidden" class="js-input-from" value="0" id="tFrom" />
                                      <input type="hidden" class="js-input-to" value="0" id="tTo" />
                                   </div>


                             </div>
                             <div class="filter-scratch-footer">
                                 <div class="filter-footer-left">
                                     <h6>Alert will send if:</h6>
                                 </div>
                                 <div class="filter-footer-right">
                                     <h6>Today</h6>
                                 </div>
                             </div>
                             <div class="filter-scratch-footer-bootom">
                                 <p>on 20th dec excel doesn't contain bookings data for order_data = 18th dec or any order_data since 11th dec.</p>
                             </div>
                             <div class="filter-btn-scratch">
                                 <!-- <a route-link route-href="filterWeekly" class="btn btn-group-lg">save</a> -->
                                 <button type="button" href="#" id="btnFilterScratch"class="btn btn-group-lg">save</button>
                             </div>
                         </div>
                         </form>
                     </div>
        </div>
    </div>
</div>




<script src="../src/components/filter/filter-scratch.js"></script>