

<div class="container-fluid">
    <div class="row">

        <div class="col-xl-2 col-lg-2 col-md-2">
            <!-- <div class="collapse-btn-hide">
                <button type="button" id="demo-one" class="btn">
                    <i class="fas fa-align-justify text-white"></i>
                </button>
            </div> -->

            <div class="main-sidebar collapse" id="main-side">
                <div class="sidenav">
                    <div class="search-main">
                        <form>
                            <input type="text" name="search" placeholder="Search..">
                            <i class="fas fa-search"></i>
                        </form>
                    </div>
                    <a href="#"> <i class="fas fa-circle co-org"></i> Tablequ</a>
                    <a href="#"> <i class="fas fa-circle co-pink"></i> SQL</a>
                    <a href="#"> <i class="fas fa-circle co-blue"></i> Excel</a>
                    <a href="#"> <i class="fas fa-circle co-green"></i> Power BI</a>
                    <a href="#"> <i class="fas fa-circle col-yellow"></i> Partner UI</a>
                </div>
            </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-12 col-md-10  pl-0 pr-0 mt-5 responsive-section">
            <div class="coman-drop-down  d-flex mx-auto justify-content-center">
                <div class="col-xl-2 col-12 col-sm-3 col-md-3 col-lg-3 mr-auto p-0">
                    <div class="main-explore-section">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Filter</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>


                <!---DropDown-Two-->
                <div class="col-xl-2 col-12 col-sm-3 col-md-3 col-lg-3 ml-auto p-0">
                    <div class="main-explore-section">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Breakdown</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="form-section box-content mb-5 p-4">
               
               

                <div class="row">
                    <div class="col-xl-12">
                        <div class="filter-weeklyReport-Title text-center">
                            <h5>Alert - Display Weekly Report</h5>
                        </div>
                    </div>
                    <div class="col-xl-6 ml-auto">
                        <div class="form-tab-section">
                            <form >
                                <div class="form-group">
                                    <label for="sel1">Tab:</label>
                                    <select class="form-control" id="sel1">
                                      <option>Dataset</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                    </select>
                                  </div> 
                            </form>
                        </div>
                    </div>
                    <div class="coman-result-section Weekly-report-section  d-flex">
                        <div class="col-xl-3">
                            <div class="alert-left-section">
                                <div class="alert-header">
                                    <h6>What to set alert to?</h6>
                                </div>
                                <div class="alert-btn-popup dropup">
                                    <button type="button" class="btn btn-group-lg dropdown-toggle" 
                                    data-toggle="dropdown">order date</button>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Link 1</a>
                                        <a class="dropdown-item" href="#">Link 2</a>
                                        <a class="dropdown-item" href="#">Link 3</a>
                                      </div>                                           
                                           
                                </div>
                                <!--alert-btn-Popup
                                <div class="alert-popup">    
                                    <div class="modal fade" id="filter-result">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                            
                                           
                                                <div class="modal-header">
                                                <h4 class="modal-title">Modal Heading</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                
                                              
                                                <div class="modal-body">
                                                Modal body..
                                                </div>
                                                
                                                
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="alert-check-box">
                                    <form>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="optradio"> <span class="text-one">Up to Date</span>
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <label class="form-check-label">
                                              <input type="radio" class="form-check-input" name="optradio"> <span class="text-two"> Missing Data </span>
                                            </label>
                                          </div>
                                          
                                    </form>
                                </div>

                                <!----Alert-Title-->
                                <div class="alert-header alert-header-one">
                                    <h6>Tie alert to metric?</h6>
                                </div>
                                <div class="alert-btn-popup alert-btn-popup-one dropdown">
                                    <button type="button" class="btn btn-group-lg dropdown-toggle" 
                                    data-toggle="dropdown">Bookings</button>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Link 1</a>
                                        <a class="dropdown-item" href="#">Link 2</a>
                                        <a class="dropdown-item" href="#">Link 3</a>
                                      </div>                                            
                                           
                                </div>

                                <!----Alert-Btn-Popup-One-
                                <div class="alert-popup">    
                                    <div class="modal fade" id="filter-result-one">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                            
                                               
                                                <div class="modal-header">
                                                <h4 class="modal-title">Modal Heading</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                
                                               
                                                <div class="modal-body">
                                                Modal body......
                                                </div>
                                                
                                                
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                           
                                <div class="alert-dropdown-section">
                                    <div class="alert-form-one">
                                        <form>
                                            <div class="form-group">
                                               
                                                <select class="form-control" id="sel1" name="sellist1">
                                                  <option>Greater Than</option>
                                                  <option>2</option>
                                                  
                                                </select>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="alert-form-Two">
                                        <form>
                                            <div class="form-group">
                                                
                                                <input type="number" class="form-control"  placeholder="60" id="usr">
                                              </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="filter-footer-btn">
                                    <a  route-link route-href="filterWeekly1"  class="btn btn-group-lg">
                                        Set Schedule
                                    </a>
                                </div>
                            </div>
                         </div>
                         <div class="col-xl-9">
                             <div class="alert-pic-section">
                                 <!-- <img src="assets/images/excel-file.png" class="img-fluid"> -->
                                 <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
                                    <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th>Lastname</th>
                                            <th>Sales</th>
                                            <th>Country</th>
                                            <th>Quarter</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Smith</td>
                                            <td>$16,753.00</td>
                                            <td>UK</td>
                                            <td>Qtr 3</td>
                                          </tr>
                                          <tr>
                                            <td>Johnson</td>
                                            <td>$14,808.00</td>
                                            <td>USA</td>
                                            <td>Qtr 4</td>
                                          </tr>
                                          <tr>
                                            <td>Williams</td>
                                            <td>$10,644.00</td>
                                            <td>UK</td>
                                            <td>Qtr 2</td>
                                          </tr>
                                          <tr>
                                            <td>Jones</td>
                                            <td>$1,390.00</td>
                                            <td>USA</td>
                                            <td>Qtr 3</td>
                                          </tr>
                                          <tr>
                                            <td>Brown</td>
                                            <td>$4,865.00</td>
                                            <td>USA</td>
                                            <td>Qtr 4</td>
                                          </tr>
                                          <tr>
                                            <td>Williams</td>
                                            <td>$12,438,00</td>
                                            <td>UK</td>
                                            <td>Qtr 1</td>
                                          </tr>

                                          <tr>
                                            <td>Johnson</td>
                                            <td>$9,339.00</td>
                                            <td>UK</td>
                                            <td>Qtr 2</td>
                                          </tr>

                                          <tr>
                                            <td>Smith</td>
                                            <td>$18,919.00</td>
                                            <td>USA</td>
                                            <td>Qtr 3</td>
                                          </tr>

                                          <tr>
                                            <td>Jones</td>
                                            <td>$9,213.00</td>
                                            <td>USA</td>
                                            <td>Qtr 4</td>
                                          </tr>

                                          <tr>
                                            <td>Williams</td>
                                            <td>$12,438,00</td>
                                            <td>UK</td>
                                            <td>Qtr 1</td>
                                          </tr>

                                        </tbody>
                                      </table>
                                    
                                 </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

