<div class="container-fluid">
    <div class="row">

        <div class="col-xl-2 col-lg-2 col-md-2">
            <!-- <div class="collapse-btn-hide">
                <button type="button" id="demo-one" class="btn">
                    <i class="fas fa-align-justify text-white"></i>
                </button>
            </div> -->

            <div class="main-sidebar collapse" id="main-side">
                <div class="sidenav">
                    <div class="search-main">
                        <form>
                            <input type="text" name="search" placeholder="Search..">
                            <i class="fas fa-search"></i>
                        </form>
                    </div>
                    <a href="#"> <i class="fas fa-circle co-org"></i> Tablequ</a>
                    <a href="#"> <i class="fas fa-circle co-pink"></i> SQL</a>
                    <a href="#"> <i class="fas fa-circle co-blue"></i> Excel</a>
                    <a href="#"> <i class="fas fa-circle co-green"></i> Power BI</a>
                    <a href="#"> <i class="fas fa-circle col-yellow"></i> Partner UI</a>
                </div>
            </div>
        </div>
        <div class="col-xl-10 col-lg-10 col-12 col-md-10  pl-0 pr-0 mt-5 responsive-section">
            <div class="coman-drop-down d-flex mx-auto justify-content-center">
                <div class="col-xl-2 col-12 col-sm-6 col-md-3 col-lg-3 mr-auto p-0">
                    <div class="main-explore-section">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Filter</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>


                <!---DropDown-Two-->
                <div class="col-xl-2 col-12 col-sm-6 col-md-3 col-lg-3 ml-auto p-0">
                    <div class="main-explore-section">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Breakdown</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="form-section mb-5">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="coman-form-section box-content">
                            <div class="form-title">
                                <h5>MYSQL Details</h5>
                            </div>

                            <div class="form-main-section pt-2">
                                <form>
                                    <div class="form-group">
                                        <label for="text">Username</label>
                                        <input type="text" class="form-control" id="#" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <label for="text">Password</label>
                                        <input type="password" class="form-control" id="#" placeholder="">
                                    </div>

                                    <div class="submit-btn">
                                        <a route-link route-href="filterResult" class="btn btn-primary submit-btn mt-3 float-right">Next</a>
                                    </div>
                                </form>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>