<div class="container-fluid">
    <div class="row">
        
        <div class="col-xl-2 col-lg-2 col-md-2">  
            <!-- <div class="collapse-btn-hide">
                <button type="button" id="demo-one" class="btn">
                    <i class="fas fa-align-justify text-white"></i>
                </button>
            </div> -->

            <div class="main-sidebar collapse" id="main-side">                
                 <div class="sidenav">
                     <div class="search-main">
                         <form>
                             <input type="text" name="search" placeholder="Search..">
                             <i class="fas fa-search"></i>
                         </form>                         
                     </div>   
                     <a href="#"> <i class="fas fa-circle co-org"></i> Search</a>
                     <a href="#"> <i class="fas fa-circle co-pink"></i> Email</a>
                     <a href="#"> <i class="fas fa-circle co-blue"></i> Display</a>
                     <a href="#"> <i class="fas fa-circle co-green"></i> Tv</a>
                     <a href="#"> <i class="fas fa-circle col-yellow"></i> Other office</a>
                 </div>               
            </div> 
      </div>
        <div class="col-xl-10 col-lg-10 col-12 col-md-10  pl-0 pr-0 mt-5 responsive-section">
            <div class="coman-drop-down d-flex mx-auto justify-content-center">
                <div class="col-xl-6 col-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="main-explore-section">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Filter</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                <option>Display</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>


                <!---DropDown-Two-->
                <div class="col-xl-6 col-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="main-explore-section">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Breakdown</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                <option>Data Tool</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>

<!--
                <div class="col-xl-3">
                    <div class="btn-popup-section">
                        <button type="button" class="btn btn-group-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
                    </div>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog modal-md">
                        <div class="modal-content">
                        
                            
                            <div class="modal-header">
                            <h6 class="modal-title">Display weekly report</h6>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            
                        
                            <div class="modal-body">
                            <div class="my-box-modal-coman">
                                <div class="pic-text-modal">
                                        <div class="modal-heading">
                                            <h6>ownear:</h6>
                                        </div>
                                        <div class="modal-pic">
                                            <img src="images/40306.jpg" class="rounded-circle img-fluid">
                                            john doe
                                        </div>
                                </div>

                                <div class="description-section">
                                    <div class="des-title">
                                        <h6>description:</h6>
                                        <p>report tracking weekly impressions, clicks & spend metrics
                                            by partner / local
                                        </p>
                                    </div>

                                    <div class="des-title">
                                        <h6>Tags:</h6>
                                        <p>Display. Tableau,Partner,Spend

                                        </p>
                                    </div>
                                </div>


                                <div class="link-section">
                                    <ul>
                                        <li><a href="#">code link</a></li>
                                        <li><a href="#">Report link</a></li>
                                    </ul>
                                </div>

                            </div>
                            </div>
                            
                            
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary bg-primary">Add alert</button>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            
-->

            </div>


            <div class="box-content">
                <img src="assets/images/hgyb2.png" class="img-fluid d-block mx-auto">
            </div>
        </div>
        
    </div>
</div>