<!---Add-Link-1.0-->
<div class="container-fluid ">
    <div class="row">
        <div class="col-xl-12 pr-0 mt-5">
            <div class="coman-drop-down d-flex mx-auto justify-content-center">
                <div class="col-xl-2 col-12 col-sm-6 col-md-3 col-lg-3 mr-auto p-0">
                    <div class="main-explore-section">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Filter</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Display</option>                               
                              </select>
                            </div>
                        </form>
                    </div>
                </div>


                <!---DropDown-Two-->
                <div class="col-xl-2 col-12 col-sm-6 col-md-3 col-lg-3 ml-auto p-0">
                    <div class="main-explore-section">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Breakdown</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                <option>Data Tool</option>                               
                              </select>
                            </div>
                        </form>
                    </div>
                </div>

                <!--
              <div class="col-xl-3">
                  <div class="btn-popup-section">
                      <button type="button" class="btn btn-group-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
                  </div>
                  <div class="modal fade" id="myModal">
                      <div class="modal-dialog modal-md">
                        <div class="modal-content">
                        
                          
                          <div class="modal-header">
                            <h6 class="modal-title">Display weekly report</h6>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          
                         
                          <div class="modal-body">
                            <div class="my-box-modal-coman">
                                <div class="pic-text-modal">
                                      <div class="modal-heading">
                                          <h6>ownear:</h6>
                                      </div>
                                      <div class="modal-pic">
                                          <img src="images/40306.jpg" class="rounded-circle img-fluid">
                                          john doe
                                      </div>
                                </div>

                                <div class="description-section">
                                    <div class="des-title">
                                        <h6>description:</h6>
                                        <p>report tracking weekly impressions, clicks & spend metrics
                                            by partner / local
                                        </p>
                                    </div>

                                    <div class="des-title">
                                      <h6>Tags:</h6>
                                      <p>Display. Tableau,Partner,Spend

                                      </p>
                                  </div>
                                </div>


                                <div class="link-section">
                                    <ul>
                                        <li><a href="#">code link</a></li>
                                        <li><a href="#">Report link</a></li>
                                    </ul>
                                </div>

                            </div>
                          </div>
                          
                          
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary bg-primary">Add alert</button>
                          </div>
                          
                        </div>
                      </div>
                    </div>
              </div>         
-->
            </div>
        </div>
    </div>

    <div id="addDataPointForm" class="form-section mb-5">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="coman-form-section box-content">
                    <div class="form-title">
                        <h6>Add data point</h6>
                    </div>
                    <div class="form-main-section">
                        <form>
                            <div class="form-group">
                                <label for="text">description:</label>
                                <input type="text" class="form-control" placeholder="Enter description" id="text">
                            </div>

                            <div class="form-group">
                                <label for="text">owner:</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="check-coman">
                                <div class="form-check ">
                                    <label class="form-check-label" for="radio1">
                                  Data link
                                <input type="radio" class="form-check-input radioBtnClass"  name="optradio" value="dataLink">
                              </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" for="radio2">
                                  Analysis
                                <input type="radio" class="form-check-input radioBtnClass"  name="optradio" value="analysis">
                              </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label"  for="radio3">
                                  Test
                                <input type="radio" class="form-check-input radioBtnClass"  name="optradio" value="test">
                              </label>
                                </div>
                            </div>

                            <div class="submit-btn">
                                <button type="button" href="#" id="btnPublish" class="btn btn-primary mt-3 float-right">publish</button>
                            </div>
                        </form>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!---Add-Link-1.1-->
<div class="form-section d-none mb-5" id="dataLinkBlock">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <div class="coman-form-section box-content">
                <div class="form-title">
                    <h6>Add Link</h6>
                </div>
                <div class="form-main-section">
                    <form>
                        <div class="form-group">
                            <label for="text">Description</label>
                            <input type="text" class="form-control" placeholder="" id="#">
                        </div>

                        <div class="form-group">
                            <label for="text">Owner</label>
                            <input type="text" class="form-control" placeholder="" id="#">
                        </div>

                        <div class="form-group">
                            <label for="text">Team</label>
                            <input type="text" class="form-control" placeholder="" id="#">
                        </div>

                        <div class="form-group">
                            <label for="text">Data Source</label>
                            <input type="text" class="form-control" placeholder="" id="#">
                        </div>

                        <div class="form-group">
                            <label for="text">Location</label>
                            <input type="text" class="form-control" placeholder="" id="#">
                        </div>

                        <div class="form-group">
                            <label for="text">Channel</label>
                            <input type="text" class="form-control" placeholder="" id="#">
                        </div>

                        <div class="form-group">
                            <label for="text">Links To</label>
                            <input type="text" class="form-control" placeholder="" id="text">
                        </div>

                        <div class="form-group">
                            <label for="text">Links From</label>
                            <input type="text" class="form-control" placeholder="" id="text">
                        </div>

                        <div class="confluge-title">
                            <h6>Confluence Page</h6>
                        </div>
                        <div class="check-box-btn">
                            <div class="form-check-inline">
                                <!-- <label class="form-check-label" for="check2">
                                  <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something">No
                                </label> -->
                                <label class="rememberme mt-checkbox mt-checkbox-outline mb-0"> <input type="checkbox" name="remember" value="1"> <span></span>&nbsp;</label>No
                            </div>
                            <div class="form-check-inline">
                                <!-- <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">Yes
                                </label> -->
                                <label class="rememberme mt-checkbox mt-checkbox-outline mb-0"> <input type="checkbox" name="remember" value="1"> <span></span>&nbsp;</label>Yes
                            </div>
                        </div>

                        <div class="submit-btn">
                            <a href="AddLink-Two.html" class="btn btn-primary mt-3 float-right">publish</a>
                        </div>
                    </form>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!---Add-Link-1.1a-->

<div class="form-section d-none mb-5" id="analysisBlock">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <div class="coman-form-section box-content">
                <div class="form-title">
                    <h6>Add Analysis</h6>
                </div>
                <div class="form-main-section">
                    <form>
                        <div class="form-group">
                            <label for="email">Description:</label>
                            <input type="text" id="#" class="form-control" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="email">Owner:</label>
                            <input type="text" id="#" class="form-control" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Team</label>
                            <select class="form-control" id="#">
                              <option>Select</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                           </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Channel</label>
                            <select class="form-control" id="#">
                                <option>Select</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                             </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Locale</label>
                            <select class="form-control" id="#">
                              <option>Select</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                           </select>
                        </div>

                        <div class="date-picker-sec">
                            <div class="form-group">
                                <label for="sel1">Date</label>
                                <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                    <input class="span2" size="16" type="date" value="12-02-2012">
                                    <!-- <i class="fas fa-calendar-alt"></i> -->
                                </div>
                            </div>
                        </div>
                </div>

                <div class="confluge-title pt-1">
                    <h6>Confluence page</h6>
                </div>
                <div class="check-box-btn">
                    <div class="form-check-inline">
                        <!-- <label class="form-check-label" for="check2">
                                  <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something">No
                                </label> -->
                        <label class="rememberme mt-checkbox mt-checkbox-outline mb-0"> <input type="checkbox" name="remember" value="1"> <span></span>&nbsp;</label>No
                    </div>
                    <div class="form-check-inline">
                        <!-- <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input" checked>Yes
                                </label> -->
                        <label class="rememberme mt-checkbox mt-checkbox-outline mb-0"> <input type="checkbox" name="remember" value="1"> <span></span>&nbsp;</label>Yes
                    </div>
                </div>

                <div class="submit-btn">
                    <a href="#" class="btn btn-primary mt-3 float-right">publish</a>
                </div>
                </form>
            </div>

            </form>
        </div>
    </div>
</div>


<!---Add-Link-1.2-->
<div class="form-section d-none mb-5" id="testBlock">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <div class="coman-form-section box-content">
                <div class="form-title">
                    <h6>Add Test</h6>
                </div>
                <div class="form-main-section">
                    <form>
                        <div class="form-group">
                            <label for="text">Description:</label>
                            <input type="text" class="form-control" placeholder="" id="#">
                        </div>

                        <div class="confluge-title">
                            <h6>Did Test Win</h6>
                        </div>
                        <div class="check-box-btn pb-3">
                            <div class="form-check-inline">
                                <!-- <label class="form-check-label" for="check2">
                                <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something">No
                              </label> -->
                                <label class="rememberme mt-checkbox mt-checkbox-outline mb-0"> <input type="checkbox" name="remember" value="1"> <span></span>&nbsp;</label>No
                            </div>
                            <div class="form-check-inline">
                                <!-- <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">Yes
                              </label> -->
                                <label class="rememberme mt-checkbox mt-checkbox-outline mb-0"> <input type="checkbox" name="remember" value="1"> <span></span>&nbsp;</label>Yes
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="text">Owner</label>
                            <input type="text" class="form-control" placeholder="" id="#">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Team</label>
                            <select class="form-control" id="#">
                            <option>Select</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                         </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Channel</label>
                            <select class="form-control" id="#">
                              <option>Select</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                           </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Locale</label>
                            <select class="form-control" id="#">
                            <option>Select</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                         </select>
                        </div>

                        <div class="date-picker-sec">
                            <div class="form-group">
                                <label for="sel1">Date</label>
                                <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
                                    <input class="span2" size="16" type="date" value="12-02-2012">
                                    <!-- <i class="fas fa-calendar-alt"></i> -->
                                </div>
                            </div>
                        </div>

                        <div class="confluge-title pt-1">
                            <h6>Confluence page</h6>
                        </div>
                        <div class="check-box-btn">
                            <div class="form-check-inline">
                                <!-- <label class="form-check-label" for="check2">
                                        <input type="checkbox" class="form-check-input" id="check2" name="vehicle2" value="something">No
                                      </label> -->
                                <label class="rememberme mt-checkbox mt-checkbox-outline mb-0"> <input type="checkbox" name="remember" value="1"> <span></span>&nbsp;</label>No
                            </div>
                            <div class="form-check-inline">
                                <!-- <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" checked>Yes
                                      </label> -->
                                <label class="rememberme mt-checkbox mt-checkbox-outline mb-0"> <input type="checkbox" name="remember" value="1"> <span></span>&nbsp;</label>Yes
                            </div>
                        </div>




                        <div class="submit-btn">
                            <a href="AddLink-Two.html"  class="btn btn-primary mt-3 float-right">publish</a>
                        </div>
                    </form>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="../src/components/add/add.js"></script>