
@media(min-width:1440px) and (max-width:1440px){
  
}


@media (min-width: 320px) and (max-width: 991px) {
  .navigation .navbar-nav {
    flex-direction: row !important;
    float:right;
  }
  .navigation .navbar .collapse:not(.show) {
    display: inline-block !important;
    flex-basis: 70% !important;
  }

  .navigation .navbar {
    padding: 0.5rem 0rem !important;
  }
}

@media(min-width:1024px) and (max-width:1024px){
  #main-side{display: block;}
}

@media (min-width: 991px) and (max-width: 1024px) {
  .main-sidebar .sidenav {
    width: 155px !important;
  }
  
}

@media (min-width: 852px) and (max-width: 991px) {
  .main-sidebar .sidenav {
    width: 151px !important;
  }
  .main-sidebar .sidenav a {
    padding: 10px 8px 10px 10px !important;
    font-size: 14px !important;
  }
  #sidebar ul li a {
    padding: 10px 10px !important;
    font-size: 0.55em !important;
  }
  .navigation li a svg {
    font-size: 15px !important;
  }
  .pic-font-section .dropdown.show::before {
    right: 50px !important;
  }
  .tab-two-top-section::before {
    width: 89% !important;
  }
  .tab-form-section {
    width: 63% !important;
  }
}
@media (min-width: 768px) and (max-width: 850px) {
  .main-sidebar .sidenav {
    width: 120px !important;
  }
  .search-main input[type="text"] {
    padding: 3px 19px 3px 30px !important;
    font-size: 16px !important;
  }
  .search-main svg.svg-inline--fa.fa-search.fa-w-16 {
    top: 8px !important;
  }
  .main-sidebar .sidenav a {
    padding: 8px 8px 8px 8px !important;
    font-size: 13px !important;
  }
  .main-sidebar .sidenav {
    left: 52px !important;
  }
  #sidebar ul li a {
    font-size: 0.55em !important;
    padding: 10px 0px !important;
  }
  .navigation li a svg {
    font-size: 18px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pic-font-section .dropdown-menu {
    position: absolute !important;
  }
  .pic-font-section {
    width: 186px !important;
  }
  .dropdown-notification .dropdown-menu {
    position: absolute;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  /* #sidebarCollapse{display: block !important;}    */
  .collapse-btn-hide {
    display: block !important;
  }
  #sidebar {
    margin-left: 0px !important;
  }

  #demo-one {
    display: block !important;
    margin-left: 36px;
  }
  .navbar-brand {
    position: absolute !important;
    left: 10px !important;
  }
  .main-sidebar .sidenav {
    left: 52px !important;
  }
  #sidebar ul li a {
    padding: 10px 0 !important;
    font-size: 0.55em !important;
  }
  .navigation li a svg {
    font-size: 15px !important;
  }
  .main-sidebar {
    display: none !important;
  }
  .tab-section .d-flex {
    display: block !important;
  }
  .pic-font-section {
    width: 187px !important;
  }
  .pic-font-section .dropdown-menu {
    position: absolute;
  }
  .dropdown-notification .dropdown-menu {
    position: absolute;
  }
  .pic-font-section .dropdown.show::before {
    right: 53px !important;
  }
}

@media (min-width: 481px) and (max-width: 575px) {
  .responsive-section .d-flex {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .responsive-section .d-flex {
    display: block !important;
  }
  #sidebar ul li a {
    padding: 10px 0 !important;
    font-size: 0.55em !important;
  }
  .navigation li a svg {
    font-size: 15px !important;
  }
  .tab-section .d-flex {
    display: block !important;
    flex-direction:column;
  }
  .tab-section{padding: 3px !important;}
  .tab-one-main-section .tab-form-section {
    width: 100%;
  }
  .tab-two-top-section {
    display: block !important;
  }
  .tab-search {
    margin-top: 10px;
  }
  .tab-search .input-group {
    padding-left: 0px !important;
  }
  .bell-icon-modal-section .modal-content {
    width: 90% !important;
  }
  .dropdown-notification .dropdown-menu {
    right: -44px !important;
    min-width: 10rem !important;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .navbar-brand {
    display: none;
    margin-left: 0px;
  }
  .login-section-main{
    flex-direction: column;
    
  }
  .login-main-section{padding: 10px !important;}
  
}
@media all and (max-width: 768px) {
  #demo-one {
    margin-left: 36px;
  }
  .navbar-brand{
    margin-left: 40px;
    top: 0px;
  }
  .form-section .col-xl-6 {
    padding-right: 0;
}
.tab-section .d-flex{
  display: flex !important;
}
.timeline-ico img.img-fluid{width: 30px !important;}
}

@media(min-width:375px) and (max-width:375px){
  .searchBox:hover > .searchInput{width: 87px !important;}
  .pic-font-section{width: 155px !important;}
}

@media(max-width:320px){
  .coman-drop-down{flex-direction: column;}
  .form-section .col-xl-6 {
    padding-right: 0;
}
#demo-one{margin-left: 0;}
}


@media(min-width:768px) and (max-width:768px){
  .navbar-brand{margin-left: 0;}
  .tab-section .d-flex{
    display: flex !important;
  }
}